extends topbar

block head
    link(rel='stylesheet', href='/stylesheets/folders.css')
    script(type='text/javascript' src='javascripts/mynotes.js')

block content
    a(style={'margin-left': '10%'}).button-highlight#new-folder New Folder
    .folder-section#folders
        each folder in folders
            .folder(data-id=folder._id)
                span.name= folder.name
                textarea.hidden.editor= folder.name
                button.edit.mdl-button.mdl-js-button.mdl-button--icon
                    i.material-icons mode_edit
                .hidden.folder-items
                    table
                        tr.headers
                            td.left Name
                            td.padding
                            td.right Last Modified
                        each note in folder.notes
                            tr
                                td.left
                                    a(href='/note?id=' + note.id)= note.name
                                td.padding
                                td.right= moment(note.modified).format('MMM Do YYYY, h:mm:ss a')
