extends topbar

block head
    script(type='text/javascript' src='javascripts/mynotes.js')

block content
    a(style={'margin-left': '10%'}).button-highlight#new-folder New Folder
    .folder-section#folders
        each folder in folders
            .folder(data-id=folder._id)
                span.name= folder.name
                textarea.hidden.editor= folder.name
                .edit.material-icons.md-48 mode_edit
                .folder-items
                    table
                        tr.headers
                            td.left Name
                            td.padding
                            td.right Last Modified
                        each note in folder.notes
                            tr
                                td.left
                                    a(href='/note?id=' + note.id)= note.name
                                td.padding
                                td.right= moment(note.modified).format('MMM Do YYYY, h:mm a')
